/* GLOBAL RESET*/
* {
  box-sizing: border-box;
}

/* VARIABLES*/
/*COLORS*/
/*FONTS*/
/* ---------------------- 


CSS TABLE OF CONTENTS


#GLOBAL RESETS
#BASE TYPOGRAPHY
#BUTTONS
#MEDIA
    #RESPONSIVE IMAGES
#LAYOUT
    #CONTAINER
    #MEDIA QUERES
    #CUSTOME SEMANTIC GRID SYSTEM
#STRUCTURE
    #SITE HEADER
    #SITE NAV
    #MAIN
        #SECTIONS
    #SITE FOOTER

------------------------- */
/* BODY RESET*/
body {
  margin: 0;
}

.head {
  background-color: white;
}

.banner-box {
  background-color: grey;
  width: 100%;
  height: 555px;
  position: relative;
  overflow: hidden;
}

.banner {
  height: auto;
  width: 100%;
}

.textbox {
  margin-top: 55px;
  padding: 5px;
  background-color: #ed8996;
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  top: -9.9%;
  text-align: left;
  width: 50%;
}
.textbox h1, .textbox h3, .textbox h4 {
  color: white;
}
.textbox h1 {
  font-size: 140px;
  font-weight: 1000;
  line-height: 0.8em;
}
.textbox h3 {
  font-size: 45px;
  font-weight: 600;
  line-height: 1em;
}
.textbox h4 {
  font-size: 20px;
  font-weight: 400;
  margin: 25px 10px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 100vh;
  background-color: white;
  overflow: hidden;
}
header nav {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(0, -50%);
}

main {
  margin: 0 50px;
  padding: 0em 0em 2em 1em;
}

footer {
  position: fixed;
  display: flex;
  align-items: flex-end;
  top: 0;
  right: 0;
  width: 50px;
  height: 100vh;
  overflow: hidden;
}

section {
  overflow: hidden;
}

h1, h2, h3, h4 {
  font-family: sans-serif;
}

h1 {
  font-size: 50px;
  font-weight: 1000;
  line-height: 1em;
  margin: 10px;
}

h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1em;
  margin: 0px 10px;
}

h4 {
  font-weight: 400;
  margin: 25px 10px;
}

.row {
  display: flex;
  padding: 0 5px;
  margin: 0 -10px;
}

.column {
  width: 25%;
  padding: 0 5px;
}

.card {
  background-color: grey;
  position: relative;
  margin: 10px 0;
}

.thumb {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}

.title {
  position: absolute;
  opacity: 0;
  transition: 0.3s ease;
  background-color: white;
  top: 15px;
  bottom: 15px;
  left: 15px;
  right: 15px;
}

.card:hover .title {
  opacity: 1;
}

.card h2 {
  font-size: 20px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav[data-navstate=open] {
  width: 100%;
}
.sidenav[data-navstate=closed] {
  width: 0%;
}

.sidenav ul {
  list-style-type: none;
  display: block;
  position: absolute;
  top: 40%;
  left: 20px;
  right: 20px;
  height: 60px;
  margin-top: -70px;
  padding: 5px 10px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}