header {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 100vh;
    background-color: white;
    overflow: hidden;

    h1 {
        font-size: 1em;
        margin: 0;
      }

      nav {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
      }
  }

  main {
    margin: 0 50px;
    padding: 1em;
  }
  
  footer {
    position: fixed;
    display: flex;
    align-items: flex-end;
    top: 0;
    right: 0;
    width: 50px;
    height: 100vh;
    background-color: white;
    overflow: hidden;
  }
  
  section {
    overflow: hidden;
  }