.head {
  background-color: white;
}

.banner-box {
  background-color: grey;
  position: relative;
}

.banner {
  height: 400px;
  width: 100%;
}

.textbox {
  margin-top:55px;
  padding: 5px;
  background-color: lightgrey;
  position: absolute;
  height: 300px;
  left: 0;
  right: 0;
  top: -5.5%;
  text-align: center;
  width: 50%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 100vh;
    background-color: white;
    overflow: hidden;

      nav {
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(0, -50%);
      }
  }

  main {
    margin: 0 50px;
    padding: 2em 1em 0em 1em;
  }
  
  footer {
    position: fixed;
    display: flex;
    align-items: flex-end;
    top: 0;
    right: 0;
    width: 50px;
    height: 100vh;
    background-color: white;
    overflow: hidden;
  }
  
  section {
    overflow: hidden;
  }