h1, h2, h3 {
    font-family: sans-serif;
  }
  
  h1 {
      font-size: 50px;
    font-weight: 1000;
    line-height: 1em;
    margin: 10px;
  }
  
  h3 {
      font-size: 30px;
    font-weight: 700;
    line-height: 1em;
    margin: 0px 10px;
  }
  
  h4 {
    font-family: sans-serif;
    font-weight: 400;
    margin: 25px 10px;
  }